.nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.nav h3{
    color: #2D2D2D; 
    font-size: 20px;
    font-weight: 700;
}
.nav li{
    float: left;
    color: #2D2D2D;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
}
.nav li:hover{
    color: white;
}
.nav button{
    background-color: #FF6E40;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 15px 0;
    cursor: pointer;
}
.nav button:hover{
    border: 1px solid #FF6E40;
    background-color: transparent;
    color: black;
    cursor: pointer;
}