.destination-style{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.route-div{
    background-color: #EFEFEF;
    width: 260px;
    padding : 35px;
    border-radius: 5px;
    max-height: 290px;
}
.input {
    border: none;
    border-radius: 3px;
    padding : 5px 8px;
}
.map{
    max-height: 600px;
    width: 100%;
    object-fit: contain;
    margin-bottom : 50px;
}
.btn-danger{
    border-radius : 3px;
}
.pick-route{
    background-color: rgb(202, 72, 12);
    border-radius: 5px;
    max-height: 80px;
    padding : 8px;
}